.gallery {
  position: relative
}

.gallery__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform;
  transition: box-shadow .5s, opacity .5s, transform .5s
}

.gallery--active .gallery__item {
  opacity: 1
}
